<form autocomplete="off">
    <div>
        {{#if guild}}
            <h1>{{guild.name}}</h1>
        {{else}}
            <h2>{{localize "oronder.No-Guild"}}</h2>
        {{/if}}
    </div>
    {{#if guild}}
        <!--        <div class="form-group">-->
        <!--            <label for="appt">Choose a time for your meeting:</label>-->
        <!--            <input type="time" id="appt" name="appt" min="09:00" max="18:00" required/>-->
        <!--        </div>-->

        <!--        <div class="form-group">-->
        <!--            <multi-checkbox name="check-many-boxes">-->
        <!--                <optgroup label="Basic Options">-->
        <!--                    <option value="foo">Foo</option>-->
        <!--                    <option value="bar">Bar</option>-->
        <!--                    <option value="baz">Baz</option>-->
        <!--                </optgroup>-->
        <!--                <optgroup label="Advanced Options">-->
        <!--                    <option value="fizz">Fizz</option>-->
        <!--                    <option value="buzz">Buzz</option>-->
        <!--                </optgroup>-->
        <!--            </multi-checkbox>-->
        <!--        </div>-->

        <div class="form-group">
            <label for="gm_xp" title="How much experience a GM may reward one of their PCs for running a session.">GM
                XP</label>
            <input type="text" min="0" id="gm_xp" inputmode="numeric" value="{{guild.gm_xp}}">
        </div>
        <div class="form-group">
            <label for="starting_level" title="Starting level for new PCs. Override by assigning a PC to a Campaign.">Starting
                Level</label>
            <input type="text" min="1"
                   max="20" id="starting_level" inputmode="numeric"
                   value="{{guild.starting_level}}">
        </div>
        <div class="form-group">
            <label for="timezone" title="Default timezone for scheduling and roll calls.">Timezone</label>
            <select id="timezone">
                {{#each timezones}}
                    <option value="{{this}}"  {{#if (eq this ../guild.timezone)}}selected{{/if}}>
                        {{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="gm_role" title="Discord Role for GMs.">GM Role</label>
            <select id="gm_role">
                {{#each guild.roles}}
                    <option value="{{id}}"  {{#if (eq id ../guild.gm_role_id)}}selected{{/if}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="subscription"><a href="https://discord.gg/szSZeNVEYF">Discord Status</a></label>
            <input type="text" disabled id="subscription" value="{{guild.subscription}}">
        </div>
        <hr>
        <h3 class="border">Channels</h3>
        <div class="form-group">
            <label for="session_channel"
                   title="Channel Sessions will be posted to. If a Forum Channel is selected, Oronder will create a new thread for each session.">
                Session Channel</label>
            <select id="session_channel">
                {{#each guild.forum_and_text_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.session_channel_id)}}selected{{/if}}>
                        {{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="downtime_channel" title="Channel where /downtime... rolls should take place.">
                Downtime Channel</label>
            <select id="downtime_channel">
                {{#each guild.text_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.downtime_channel_id)}}selected{{/if}}>
                        {{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="downtime_gm_channel" title="Optional Channel where downtime activities may be claimed by a GM.">
                Downtime GM Channel</label>
            <select id="downtime_gm_channel">
                <option value="">❌ DISABLED</option>
                {{#each guild.text_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.downtime_gm_channel_id)}}selected{{/if}}>
                        {{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="voice_channel" title="Voice Channel where Oronder will create session events.">
                Voice Channel</label>
            <select id="voice_channel">
                {{#each guild.voice_and_stage_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.voice_channel_id)}}selected{{/if}}>
                        {{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="scheduling_channel" title="Channel where Oronder will advertise new Sessions.">
                Scheduling Channel</label>
            <select id="scheduling_channel">
                {{#each guild.text_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.scheduling_channel_id)}}selected{{/if}}>
                        {{name}}</option>
                {{/each}}
            </select>
        </div>
        <hr>
        {{#if players}}
            <h3 class="border">{{localize "oronder.Foundry-to-Discord-Ids"}}</h3>
        {{else}}
            <h3 class="border">{{localize "oronder.No-Players-Found"}}</h3>
        {{/if}}
        {{#each players}}
            <div class="form-group">
                <label for="{{foundry_id}}">{{foundry_name}}</label>
                <select id="{{foundry_id}}">
                    <option value=""></option>
                    {{#each ../guild.members}}
                        <option value="{{id}}"  {{#if (eq id ../discord_id)}}selected{{/if}}>
                            {{name}}</option>
                    {{/each}}
                </select>
            </div>
        {{/each}}
        <hr>
        <div class="form-group">
            <h3>
                <label for="rollcall_enabled"
                       title="If enabled, Oronder will prompt members for their weekly availability.">
                    Rollcall</label>
                <input type="checkbox" id='rollcall_enabled' class='control' data-action='checkbox'
                       style='float:right'
                    {{checked guild.rollcall_enabled}}>
            </h3>
        </div>
        {{#if guild.rollcall_enabled}}
            <div class="form-group">
                <label for="rollcall_role" title="Role Oronder will @ mention when posting roll call.">Role</label>
                <select id="rollcall_role" required>
                    <option value=""></option>
                    {{#each guild.roles}}
                        <option value="{{id}}"
                                {{#if (eq id ../guild.rollcall_role_id)}}selected{{/if}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="rollcall_channel" title="Channel where roll call messages will be posted to.">
                    Channel</label>
                <select id="rollcall_channel" required>
                    <option value=""></option>
                    {{#each guild.text_channels}}
                        <option value="{{id}}"  {{#if (eq id ../guild.rollcall_channel_id)}}selected{{/if}}>
                            {{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="rollcall_day" title="Day of the week when roll call messages will be posted.">Day</label>
                <select id="rollcall_day" required>
                    <option value=""></option>
                    {{#each days_of_week}}
                        <option value="{{this}}"
                                {{#if (eq this ../guild.rollcall_day)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="rollcall_time" title="Time of day when roll call messages will be posted.">Time</label>
                <input type="time" id="rollcall_time" required value="{{guild.rollcall_time}}">
            </div>
        {{/if}}


        <div class="form-group">
            <h3>
                <label for='show_advanced' title="Display Advanced and Experimental Options.">Advanced Options</label>
                <input type="checkbox" id='show_advanced' class='control' data-action='checkbox'
                    {{checked show_advanced}} style='float:right'>
            </h3>
        </div>

        {{#if show_advanced}}
            <div class="form-group">
                <label for="roll_discord_to_foundry"
                       title="Oronder will post rolls from Discord to Foundry if a GM is logged into Foundry.">
                    (Under Development) Publish Discord Rolls to Foundry</label>
                <input type="checkbox" id='roll_discord_to_foundry' class='control' data-action='checkbox'
                       style='float:right' {{checked guild.roll_discord_to_foundry}}>
            </div>
            <div class="form-group">
                <label for="combat_tracking_enabled"
                       title="Oronder will post changes in the combat tracker to the Combat Channel configured below.">
                    Publish Combat Tracker to Discord</label>
                <input type="checkbox" id='combat_tracking_enabled' class='control' data-action='checkbox'
                       style='float:right' {{checked guild.combat_tracking_enabled}}>
            </div>
            <div class="form-group">
                <label for="combat_channel" title="Channel where Combat Tracking Messages will be posted.">
                    Combat Channel</label>
                <select id="combat_channel" {{#unless guild.combat_tracking_enabled}}disabled{{/unless}}>
                    <option value="">❌ DISABLED</option>
                    {{#each guild.text_channels}}
                        <option value="{{id}}"  {{#if (eq id ../guild.combat_channel_id)}}selected{{/if}}>
                            {{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="combat_health_estimate"
                       title="Select whose health will be described(i.e. Healthy) rather than shown (HP 8/9).">
                    Combat Health Estimate</label>
                <select id="combat_health_estimate" {{#unless guild.combat_tracking_enabled}}disabled{{/unless}}>
                    {{#each combat_health_estimate_type}}
                        <option value={{this}} {{#if (eq this ../combat_health_estimate)}}selected{{/if}}>
                            {{@key}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <button type="button" class='control' data-action='sync-all' {{#if buttons_disabled}}disabled{{/if}}>
                    <i class="{{#if full_sync_active}}fa-solid fa-spinner fa-spin{{else}}fa-solid fa-rotate{{/if}}"></i>
                    {{#if full_sync_active}}{{localize "oronder.Full-Sync-Pending"}}{{else}}
                        {{localize "oronder.Full-Sync"}}{{/if}}
                </button>
            </div>
            <div class="form-group">
                <button type="button" class='control' data-action='init' {{#if buttons_disabled}}disabled{{/if}}>
                    <i class="{{#if init_active}}fa-solid fa-spinner fa-spin{{else}}fa-brands fa-discord{{/if}}"></i>
                    {{#if init_active}}{{localize "oronder.Init-Pending"}}{{else}}
                        {{localize "oronder.Re-Init"}}{{/if}}
                </button>
            </div>
        {{/if}}

        <hr>
        <button type="submit" {{#if buttons_disabled}}disabled{{/if}}>
            <i class="far fa-save"></i> {{ localize "Save Changes" }}
        </button>
    {{else}}
        <div class="form-group">
            <button type="button" id='init' class='control' data-action='init' {{#if buttons_disabled}}disabled{{/if}}>
                <i class="{{#if init_active}}fa-solid fa-spinner fa-spin{{else}}fa-brands fa-discord{{/if}}"></i>
                {{#if init_active}}{{localize "oronder.Init-Pending"}}{{else}}{{localize "oronder.Init"}}{{/if}}
            </button>
        </div>
    {{/if}}
</form>
