<form autocomplete="off">
    <div>
        {{#if guild}}
            <h1>{{guild.name}}</h1>
        {{else}}
            <h2>No Discord Server Connection Found.</h2>
        {{/if}}
    </div>
    {{#if guild}}
        <!--        <div class="form-group">-->
        <!--            <label for="appt">Choose a time for your meeting:</label>-->
        <!--            <input type="time" id="appt" name="appt" min="09:00" max="18:00" required/>-->
        <!--        </div>-->

        <!--        <div class="form-group">-->
        <!--            <multi-checkbox name="check-many-boxes">-->
        <!--                <optgroup label="Basic Options">-->
        <!--                    <option value="foo">Foo</option>-->
        <!--                    <option value="bar">Bar</option>-->
        <!--                    <option value="baz">Baz</option>-->
        <!--                </optgroup>-->
        <!--                <optgroup label="Advanced Options">-->
        <!--                    <option value="fizz">Fizz</option>-->
        <!--                    <option value="buzz">Buzz</option>-->
        <!--                </optgroup>-->
        <!--            </multi-checkbox>-->
        <!--        </div>-->

        <div class="form-group">
            <label for="gm-xp" title="How much experience a GM may reward one of their PCs for running a session.">GM
                XP</label>
            <input type="text" min="0" id="gm-xp" inputmode="numeric" value="{{guild.gm_xp}}">
        </div>
        <div class="form-group">
            <label for="starting-level" title="Starting level for new PCs. Override by assigning a PC to a Campaign.">Starting
                Level</label>
            <input type="text" min="1"
                   max="20" id="starting-level" inputmode="numeric"
                   value="{{guild.starting_level}}">
        </div>
        <div class="form-group">
            <label for="timezone" title="Default timezone for scheduling and roll calls.">Timezone</label>
            <select id="timezone">
                {{#each timezones}}
                    <option value="{{this}}"  {{#if (eq this ../guild.timezone)}}selected{{/if}}>
                        {{this}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="gm-role" title="Discord Role for GMs.">GM Role</label>
            <select id="gm-role">
                {{#each guild.roles}}
                    <option value="{{id}}"  {{#if (eq id ../guild.gm_role_id)}}selected{{/if}}>{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="subscription"><a href="https://discord.gg/ZggUCHsQqg">Discord Status</a></label>
            <input type="text" disabled id="subscription" value="{{guild.subscription}}">
        </div>
        <hr>
        <h3 class="border">Channels</h3>
        <div class="form-group">
            <label for="session-channel">Session Channel</label>
            <select id="session-channel">
                {{#each (catArrs guild.forum_channels guild.text_channels)}}
                    <option value="{{id}}"  {{#if (eq id ../guild.session_channel_id)}}selected{{/if}}>
                        #{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="downtime-channel">Downtime Channel</label>
            <select id="downtime-channel">
                {{#each guild.text_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.downtime_channel_id)}}selected{{/if}}>
                        #{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="downtime-gm-channel">Downtime GM Channel</label>
            <select id="downtime-gm-channel">
                <option value=""  {{#if (eq "" guild.downtime_gm_channel_id)}}selected{{/if}}>❌ DISABLE</option>
                {{#each guild.text_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.downtime_gm_channel_id)}}selected{{/if}}>
                        #{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="voice-channel">Voice Channel</label>
            <select id="voice-channel">
                {{#each guild.voice_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.voice_channel_id)}}selected{{/if}}>
                        #{{name}}</option>
                {{/each}}
            </select>
        </div>
        <div class="form-group">
            <label for="scheduling-channel">Scheduling Channel</label>
            <select id="scheduling-channel">
                {{#each guild.text_channels}}
                    <option value="{{id}}"  {{#if (eq id ../guild.scheduling_channel_id)}}selected{{/if}}>
                        #{{name}}</option>
                {{/each}}
            </select>
        </div>
        {{#if players}}
            <hr>
            <h3 class="border">{{localize "oronder.Foundry-to-Discord-Ids"}}</h3>
        {{/if}}
        {{#each players}}
            <div class="form-group">
                <label for="{{foundry_id}}">{{foundry_name}}</label>
                <select id="{{foundry_id}}">
                    <option value=""  {{#if (eq "" discord_id)}}selected{{/if}}></option>
                    {{#each ../guild.members}}
                        <option value="{{id}}"  {{#if (eq id ../discord_id)}}selected{{/if}}>
                            {{name}}</option>
                    {{/each}}
                </select>
            </div>



        {{/each}}
        <hr>
        <div class="form-group">
            <label for="rollcall-enabled" title="If enabled, Oronder will mention the provided at the specified time.">
                Rollcall
            </label>
            <!--            <p class="hint">If enabled, Oronder will @ mention the provided at the specified time.</p>-->
            <input type="checkbox" id='rollcall-enabled' class='control' data-action='rollcall-enabled'
                {{checked guild.rollcall_enabled}}>
        </div>
        {{#if guild.rollcall_enabled}}
            <div class="form-group">
                <label for="rollcall-role">Role</label>
                <select id="rollcall-role">
                    <option value=""  {{#if (eq "" guild.rollcall_role_id)}}selected{{/if}}></option>
                    {{#each guild.roles}}
                        <option value="{{id}}"
                                {{#if (eq id ../guild.rollcall_role_id)}}selected{{/if}}>{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="rollcall-channel">Channel</label>
                <select id="rollcall-channel">
                    <option value=""  {{#if (eq "" guild.rollcall_channel_id)}}selected{{/if}}></option>
                    {{#each guild.text_channels}}
                        <option value="{{id}}"  {{#if (eq id ../guild.rollcall_channel_id)}}selected{{/if}}>
                            #{{name}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="rollcall-day">Day</label>
                <select id="rollcall-day">
                    <option value=""  {{#if (eq "" guild.rollcall_day)}}selected{{/if}}></option>
                    {{#each days_of_week}}
                        <option value="{{this}}"
                                {{#if (eq this ../guild.days_of_week)}}selected{{/if}}>{{this}}</option>
                    {{/each}}
                </select>
            </div>
            <div class="form-group">
                <label for="rollcall-time">Time</label>
                <input type="time" id="rollcall-time"
                       {{#if (eq "" guild.rollcall_time)}}value="{{guild.rollcall_time}}"{{/if}}>
            </div>
        {{/if}}


        <div class="form-group">
            <label for='show-advanced'>Advanced Options</label>
            <input type="checkbox" id='show-advanced' class='control' data-action='show-advanced'
                {{checked show_advanced}}>
        </div>

        {{#if show_advanced}}
            <div class="form-group">
                <button type="button" class='control' data-action='sync-all' {{#if buttons_disabled}}disabled{{/if}}>
                    <i class="{{full_sync_button_icon}}"></i> {{full_sync_button_msg}}
                </button>
            </div>
            <div class="form-group">
                <button type="button" class='control' data-action='init' {{#if buttons_disabled}}disabled{{/if}}>
                    <i class="{{init_button_icon}}"></i>{{re_init_button_msg}}
                </button>
            </div>
        {{/if}}

        <hr>
        <button type="submit" {{#if buttons_disabled}}disabled{{/if}}>
            <i class="far fa-save"></i> {{ localize "Save Changes" }}
        </button>
    {{else}}
        <div class="form-group">
            <button type="button" class='control' data-action='init' {{#if buttons_disabled}}disabled{{/if}}>
                <i class="{{init_button_icon}}"></i> {{init_button_msg}}
            </button>
        </div>
    {{/if}}
</form>